/* Menu navbar */
#rowMenu
{
    background-color: #32A041; 
    height: 60px;
}
#menuNav
{
    margin-top: 10px;
}
#conteudoMenu
{
    
}
#menuNav a:link
{
    color:#222222;
    text-decoration: none;
}
#menuNav a:visited
{
    color: #222200;
    text-decoration:none;
}
#menuNav a:hover
{
    color:#222222;
    font-weight: 500;
    text-decoration:none;
}
#menuNav a:active
{
    color:#222222;
    text-decoration:none;
}


/* Conteudo Aluno */

.BoxInfoAluno
{
    background-color:#CCCCCC;
    border: solid 1px #797979;
    border-radius: 10px;
}